// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cover{
    background-image:
      url("https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_1280.jpg");
    background-size: cover;
    height: 1000px;
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
   
    h1{
      font-family: Arial;
      font-size: 100px;
      color:rbba();
    }s
    p{
      font-family: cursive;
      font-size: 80px;
      color:rbba(0,0,0,0.3);
    }
}

.btn{
  width: 142.14px;
  height: 38px;
}