
<div class="container">
  <div class="card">
    <div class="card-header">ユーザー投稿一覧</div>
    <ul class="list-group list-group-flush">
      <% @posts.each do |post| %>
        <li class="list-group-item">
         <p><%= link_to post.title, post %></p> 
         <div>
          <% if post.user.avatar? %>
              <span>
                <%= image_tag post.user.avatar.url,size: '50x50',class: 'rounded-circle'%> 
              </span>
          <% else %>
              <span>
                <%= image_tag 'default.png',size: '50x50',class: 'rounded-circle'%> 
              </span>
          <% end %>
          <%= post.user.username %>
         </div>
         
       </li>
      <% end %>  
    </ul>
  </div>
</div>
