<div class="cover d-flex align-items-center justify-content-center">
    <div>
        <h1>Welcome</h1>
        <p>Please sign up. if you've already signed up,log in please!! </p>
    </div>
</div>
    
